# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [3]:
chipotle = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

print(chipotle.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

### Step 3. Assign it to a variable called chipo.

In [5]:

chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')


print(chipo.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

### Step 4. How many products cost more than $10.00?

In [6]:

chipo['item_price'] = chipo['item_price'].replace({'\$': ''}, regex=True).astype(float)

chipo_cleaned = chipo.drop_duplicates(subset=['item_name', 'quantity'])

chipo_single_item = chipo_cleaned[chipo_cleaned['quantity'] == 1]

expensive_products = chipo_single_item[chipo_single_item['item_price'] > 10.00]

num_expensive_products = expensive_products['item_name'].nunique()

print(f"The number of products that cost more than $10.00 is: {num_expensive_products}")

The number of products that cost more than $10.00 is: 12

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
/var/folders/sz/b50958sd0svgwh9b5nwg1d700000gn/T/ipykernel_28381/3654427728.py:1: SyntaxWarning: invalid escape sequence '\$'
  chipo['item_price'] = chipo['item_price'].replace({'\$': ''}, regex=True).astype(float)

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [7]:

chipo_cleaned = chipo.drop_duplicates(subset=['item_name', 'quantity'])

chipo_single_item = chipo_cleaned[chipo_cleaned['quantity'] == 1]

chipo_price_df = chipo_single_item[['item_name', 'item_price']]

chipo_price_df_sorted = chipo_price_df.sort_values(by='item_price', ascending=False)

print(chipo_price_df_sorted)

                                  item_name  item_price
606                        Steak Salad Bowl       11.89
1229                    Barbacoa Salad Bowl       11.89
1132                    Carnitas Salad Bowl       11.89
7                             Steak Burrito       11.75
168                   Barbacoa Crispy Tacos       11.75
39                            Barbacoa Bowl       11.75
738                       Veggie Soft Tacos       11.25
186                       Veggie Salad Bowl       11.25
62                              Veggie Bowl       11.25
57                           Veggie Burrito       11.25
250                           Chicken Salad       10.98
5                              Chicken Bowl       10.98
8                          Steak Soft Tacos        9.25
554                   Carnitas Crispy Tacos        9.25
237                     Carnitas Soft Tacos        9.25
56                      Barbacoa Soft Tacos        9.25
92                       Steak Crispy Tacos        9.25
664                             Steak Salad        8.99
54                               Steak Bowl        8.99
3750                         Carnitas Salad        8.99
21                         Barbacoa Burrito        8.99
27                         Carnitas Burrito        8.99
33                            Carnitas Bowl        8.99
11                     Chicken Crispy Tacos        8.75
12                       Chicken Soft Tacos        8.75
44                       Chicken Salad Bowl        8.75
1653                    Veggie Crispy Tacos        8.49
16                          Chicken Burrito        8.49
1694                           Veggie Salad        8.49
1414                                  Salad        7.40
510                                 Burrito        7.40
520                            Crispy Tacos        7.40
673                                    Bowl        7.40
298                       6 Pack Soft Drink        6.49
10                      Chips and Guacamole        4.45
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
674       Chips and Mild Fresh Tomato Salsa        3.00
111     Chips and Tomatillo Red Chili Salsa        2.95
233      Chips and Roasted Chili Corn Salsa        2.95
38    Chips and Tomatillo Green Chili Salsa        2.95
3     Chips and Tomatillo-Green Chili Salsa        2.39
300     Chips and Tomatillo-Red Chili Salsa        2.39
191      Chips and Roasted Chili-Corn Salsa        2.39
0              Chips and Fresh Tomato Salsa        2.39
40                                    Chips        2.15
6                             Side of Chips        1.69
263                       Canned Soft Drink        1.25
28                              Canned Soda        1.09
34                            Bottled Water        1.09

### Step 6. Sort by the name of the item

In [8]:
sorted_chipotle = chipotle.sort_values(by='item_name')

print(sorted_chipotle[['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']])

      order_id  quantity          item_name  \
3389      1360         2  6 Pack Soft Drink
341        148         1  6 Pack Soft Drink
1849       749         1  6 Pack Soft Drink
1860       754         1  6 Pack Soft Drink
2713      1076         1  6 Pack Soft Drink
...        ...       ...                ...
2384       948         1  Veggie Soft Tacos
781        322         1  Veggie Soft Tacos
2851      1132         1  Veggie Soft Tacos
1699       688         1  Veggie Soft Tacos
1395       567         1  Veggie Soft Tacos

                                     choice_description item_price
3389                                        [Diet Coke]    $12.98
341                                         [Diet Coke]     $6.49
1849                                             [Coke]     $6.49
1860                                        [Diet Coke]     $6.49
2713                                             [Coke]     $6.49
...                                                 ...        ...
2384  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75
781   [Fresh Tomato Salsa, [Black Beans, Cheese, Sou...     $8.75
2851  [Roasted Chili Corn Salsa (Medium), [Black Bea...     $8.49
1699  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
1395  [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...     $8.49

[4622 rows x 5 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [9]:
chipotle['item_price'] = chipotle['item_price'].replace({'\$': '', ',': ''}, regex=True).astype(float)

most_expensive_item = chipotle.loc[chipotle['item_price'].idxmax()]

most_expensive_item_quantity = most_expensive_item['quantity']

print(f"The quantity of the most expensive item ordered is: {most_expensive_item_quantity}")

The quantity of the most expensive item ordered is: 15

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
/var/folders/sz/b50958sd0svgwh9b5nwg1d700000gn/T/ipykernel_28381/3353759120.py:1: SyntaxWarning: invalid escape sequence '\$'
  chipotle['item_price'] = chipotle['item_price'].replace({'\$': '', ',': ''}, regex=True).astype(float)

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [10]:
veggie_salad_bowl_count = chipotle[chipotle['item_name'] == 'Veggie Salad Bowl'].shape[0]

print("The 'Veggie Salad Bowl' was ordered", veggie_salad_bowl_count, "times.")

The 'Veggie Salad Bowl' was ordered 18 times.

### Step 9. How many times did someone order more than one Canned Soda?

In [11]:

canned_soda_multiple_order = chipotle[(chipotle['item_name'] == 'Canned Soda') & (chipotle['quantity'] > 1)]

canned_soda_multiple_order_count = canned_soda_multiple_order.shape[0]

print("The 'Canned Soda' was ordered more than once", canned_soda_multiple_order_count, "times.")

The 'Canned Soda' was ordered more than once 20 times.